In [1]:
import pandas as pd

In [2]:
df_books=pd.read_csv("datos/good_reads_final.csv")
df_books.head()

,author_average_rating,author_gender,author_genres,author_id,author_name,author_page_url,author_rating_count,author_review_count,birthplace,book_average_rating,book_fullurl,book_id,book_title,genre_1,genre_2,num_ratings,num_reviews,pages,publish_date,score
0,4.01,female,"historical-fiction,",74489,Victoria Thompson\n,/author/show/74489.Victoria_Thompson,74399,6268,United States\n,4.02,https://www.goodreads.com/book/show/686717.Mur...,686717,\n Murder on St. Mark's Place\n,Mystery,Historical,5260,375,277,2000,3230
1,4.15,male,"literature-fiction,mystery-thrillers,",706255,Stieg Larsson\n,/author/show/706255.Stieg_Larsson,3726435,142704,Sweden\n,4.13,https://www.goodreads.com/book/show/2429135.Th...,2429135,\n The Girl with the Dragon Tattoo\n,Fiction,Mystery,2229163,65227,465,August 2005,3062
2,4.00,female,"romance,",5618190,Mimi Jean Pamfiloff\n,/author/show/5618190.Mimi_Jean_Pamfiloff,76496,7975,United States\n,3.99,https://www.goodreads.com/book/show/27833684-t...,27833684,\n Tailored for Trouble\n,Romance,Contemporary,2151,391,354,2016,4585
3,3.88,male,"fiction,memoir,",37871,José Donoso\n,/author/show/37871.Jos_Donoso,5522,489,Chile\n,4.14,https://www.goodreads.com/book/show/382975.The...,382975,\n The Obscene Bird of Night\n,Fiction,Magical Realism,1844,173,438,1970,1533
4,4.10,female,"young-adult,fantasy,",36122,Patricia C. Wrede\n,/author/show/36122.Patricia_C_Wrede,291013,13453,United States\n,4.01,https://www.goodreads.com/book/show/64207.Sorc...,64207,\n Sorcery & Cecelia: or The Enchanted Ch...,Fantasy,Young Adult,17051,1890,326,April 15th 1988,2105

Lo primero averiguamos el número de filas y columnas del data frame

In [3]:

df_books.shape

(22891, 20)

Vamos a ver si tuviera algún duplicado.

In [4]:
df_books.duplicated().sum()

0

No tiene duplicados así que vamos a ver el nombre de cada columna para ver la información con la que podemos jugar

In [5]:

df_books.columns

Index(['author_average_rating', 'author_gender', 'author_genres', 'author_id',
       'author_name', 'author_page_url', 'author_rating_count',
       'author_review_count', 'birthplace', 'book_average_rating',
       'book_fullurl', 'book_id', 'book_title', 'genre_1', 'genre_2',
       'num_ratings', 'num_reviews', 'pages', 'publish_date', 'score'],
      dtype='object')

Vamos a ver el tipo de dato por columna. Lo hago con info porque así veo si hay algun Nan.

In [6]:
df_books.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22891 entries, 0 to 22890
Data columns (total 20 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   author_average_rating  22891 non-null  float64
 1   author_gender          22891 non-null  object
 2   author_genres          22891 non-null  object
 3   author_id              22891 non-null  int64
 4   author_name            22891 non-null  object
 5   author_page_url        22891 non-null  object
 6   author_rating_count    22891 non-null  int64
 7   author_review_count    22891 non-null  int64
 8   birthplace             22891 non-null  object
 9   book_average_rating    22891 non-null  float64
 10  book_fullurl           22891 non-null  object
 11  book_id                22891 non-null  object
 12  book_title             22891 non-null  object
 13  genre_1                22891 non-null  object
 14  genre_2                22891 non-null  object
 15  num_ratings            22891 non-null  int64
 16  num_reviews            22891 non-null  int64
 17  pages                  22891 non-null  object
 18  publish_date           22610 non-null  object
 19  score                  22891 non-null  int64
dtypes: float64(2), int64(6), object(12)
memory usage: 3.5+ MB

La única columna que me devuelve Nan es Publish Date, así que voy a ver el porcentaje que representan

In [7]:
df_nulos = pd.DataFrame(df_books.isnull().sum()/df_books.shape[0]*100)
df_nulos[df_nulos[0] > 0]

                     0
publish_date  1.227557

No es un porcentaje muy grande, 1,23% aun no he decidido que hacer con él. Pasó a lo siguiente de momento. 
Vamos a ver valores unicos por columnas

In [8]:
df_books.columns

Index(['author_average_rating', 'author_gender', 'author_genres', 'author_id',
       'author_name', 'author_page_url', 'author_rating_count',
       'author_review_count', 'birthplace', 'book_average_rating',
       'book_fullurl', 'book_id', 'book_title', 'genre_1', 'genre_2',
       'num_ratings', 'num_reviews', 'pages', 'publish_date', 'score'],
      dtype='object')

In [9]:
df_books["author_gender"].unique()

array(['female', 'male'], dtype=object)

Esta columna esta perfecta, solo devuelve female and male (a lo mejor no muy políticamente correcto en estos tiempos pero me vale)

In [10]:
df_books["author_genres"].unique()

array(['historical-fiction,', 'literature-fiction,mystery-thrillers,',
       'romance,', ..., 'mind-body-spirit,religion-spirituality,',
       'historical-fiction,religion,', 'fantasy,young-adult,romance,'],
      dtype=object)

Quiero ver todos los resultados, no solo estos. Voy a probar a añadir el sum a ver si me devuleve el número de uniquess

Igualmente ya puedo ver que debería añadir una coumna con subgénero. De esa manera podríamos agruparlos más facilmente.

In [11]:
#df_books["author_genres"].unique().sum()

No estoy segura de que haya funcionado, me devolvía una lista con muchísismos nombres.
Voy a probar Groupby para asegurarme del número.

In [12]:
pd.DataFrame(df_books.groupby(['author_genres']).count())

,author_average_rating,author_gender,author_id,author_name,author_page_url,author_rating_count,author_review_count,birthplace,book_average_rating,book_fullurl,book_id,book_title,genre_1,genre_2,num_ratings,num_reviews,pages,publish_date,score
author_genres,,,,,,,,,,,,,,,,,,,
"action,adventure,",1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
"action,thriller,",1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
"action-adventure,",1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
"adult,",5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5
"adult,new-adult,",5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"young-adult-new-adult-adult,",8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8
"young-adult-paranormal-fantasy,",5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5
"young-adult-paranormal-romance,",1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
"young-adult-paranormal-romance,paranormal-fiction,romance,",6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6
"yuri,manga,",1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1

Me devuelve 1803 filas. Definitivamente hay que arreglar los genres. Una solución pausible sería hacer un split y dejar el primer elemento como genre y los siguientes como subgenre y ver como queda. El problema que veo es que no todas las separaciones están hechas igual, unas van con ',' y otras con '-'. Vamos a unificar separaciones y hacer que todo se separe con '-'.

Vamos a usar apply.

In [13]:
def sustituir(genero):
    return genero.replace("," , "-")

df_books["author_genres"]=df_books["author_genres"].apply(sustituir)
df_books.head()

,author_average_rating,author_gender,author_genres,author_id,author_name,author_page_url,author_rating_count,author_review_count,birthplace,book_average_rating,book_fullurl,book_id,book_title,genre_1,genre_2,num_ratings,num_reviews,pages,publish_date,score
0,4.01,female,historical-fiction-,74489,Victoria Thompson\n,/author/show/74489.Victoria_Thompson,74399,6268,United States\n,4.02,https://www.goodreads.com/book/show/686717.Mur...,686717,\n Murder on St. Mark's Place\n,Mystery,Historical,5260,375,277,2000,3230
1,4.15,male,literature-fiction-mystery-thrillers-,706255,Stieg Larsson\n,/author/show/706255.Stieg_Larsson,3726435,142704,Sweden\n,4.13,https://www.goodreads.com/book/show/2429135.Th...,2429135,\n The Girl with the Dragon Tattoo\n,Fiction,Mystery,2229163,65227,465,August 2005,3062
2,4.00,female,romance-,5618190,Mimi Jean Pamfiloff\n,/author/show/5618190.Mimi_Jean_Pamfiloff,76496,7975,United States\n,3.99,https://www.goodreads.com/book/show/27833684-t...,27833684,\n Tailored for Trouble\n,Romance,Contemporary,2151,391,354,2016,4585
3,3.88,male,fiction-memoir-,37871,José Donoso\n,/author/show/37871.Jos_Donoso,5522,489,Chile\n,4.14,https://www.goodreads.com/book/show/382975.The...,382975,\n The Obscene Bird of Night\n,Fiction,Magical Realism,1844,173,438,1970,1533
4,4.10,female,young-adult-fantasy-,36122,Patricia C. Wrede\n,/author/show/36122.Patricia_C_Wrede,291013,13453,United States\n,4.01,https://www.goodreads.com/book/show/64207.Sorc...,64207,\n Sorcery & Cecelia: or The Enchanted Ch...,Fantasy,Young Adult,17051,1890,326,April 15th 1988,2105

NOTA MENTAL IMPORTANTE: LEER Y ENTENDER BIEN LOS DATOS QUE MANEJAS ANTES DE PONERTE A HACER NADA!!!
Me acabo de dar cuenta que author_genre se refiere obviamente a los generos en los que escribe el autor, no el género del ibro por lo que no nos afecta para nada a cualquier tipo de lectura que vaya a hacer en ese momento. Los géneros de los libros están determinados en la columna genre_1 y genre_2. Buen aprendizaje.

In [14]:
df_books["genre_1"].unique()

array(['Mystery', 'Fiction', 'Romance', 'Fantasy', 'Sequential Art',
       'Young Adult', 'Nonfiction', 'Paranormal', 'Historical',
       'Science Fiction', 'Horror', 'Classics', 'Autobiography',
       'Womens Fiction', 'New Adult', 'Contemporary', 'Humor', 'History',
       'Childrens', 'Lgbt', 'Sports and Games', 'War', 'Dark',
       'Philosophy', 'Poetry', 'Christian', 'Adventure', 'Anthologies',
       'Christian Fiction', 'Warfare', 'Erotica', 'Biography',
       'Adult Fiction', 'Short Stories', 'Animals', 'Science',
       'Shapeshifters', 'Self Help', 'Politics', 'Music', 'Religion',
       'Plays', 'Mental Health', 'Thriller', 'Crime', 'Mythology',
       'Travel', 'Military History', 'Language', 'Literature',
       'Psychology', 'Novels', 'Feminism', 'Economics', 'Business',
       'Media Tie In', 'World War II', 'Cultural',
       'Science Fiction Fantasy', 'Death', 'Lds', 'Northern Africa',
       'Design', 'Magical Realism', 'Apocalyptic', 'Realistic Fiction',
       'Asian Literature', 'Spy Thriller', 'Suspense', 'Holiday',
       'Category Romance', 'Spirituality', 'Dungeons and Dragons',
       'Health', 'Education', 'Inspirational', 'Art', 'Amish',
       'Did Not Finish', 'Marriage', 'Family', 'Reference', 'Fan Fiction',
       'Adult', 'Love', 'Epic', 'Glbt', 'Sexuality', 'Parenting',
       'Gardening', 'Literary Fiction', 'Novella', 'Sociology',
       'Westerns', 'Leadership', 'Eastern Africa', 'Food and Drink',
       'Drama', 'Biblical Fiction', 'Couture', 'Writing', 'Polyamorous',
       'Own', 'Retellings', 'Football', 'European Literature', 'Medical',
       'Comics', 'Occult', 'Dark Fantasy', 'Speculative Fiction',
       'Dc Comics', 'Unfinished', 'Esoterica', 'Sports', 'Christianity',
       'How To', 'Teaching', 'Social Science', 'Manga', 'United States',
       'Relationships', 'Pulp', 'Fairy Tales'], dtype=object)

Parece que hay unas cuantas, vamos  aver exactamente cuantos géneros tenemos clasificados. Ya que estamos vamos a ver todos los valores únicos por columna.

In [15]:
df_books.nunique()

author_average_rating      204
author_gender                2
author_genres             1776
author_id                12155
author_name              12156
author_page_url          12156
author_rating_count      15465
author_review_count       8551
birthplace                 435
book_average_rating        231
book_fullurl             16830
book_id                  16830
book_title               16350
genre_1                    124
genre_2                    157
num_ratings              12493
num_reviews               4870
pages                      964
publish_date              3347
score                     7677
dtype: int64

De la columna de fechas me quiero quedar solo con los años, no quiero mes ni días. Algunos solo tienen el año, otros año y mes y otros año, mes y día. A ver que puedo hacer para separarlo.
He probado a usar el método que usamos en clase de datatime, pero me da error (df_books['publish_date'] = pd.to_datetime(df_books['publish_date'])) ¿Es por la manera en que están escrita las fechas, que no hay uniformidad?

In [16]:
list(df_books["publish_date"].unique())

df_books_fechas=df_books.dropna (subset = ["publish_date"])

Me he dado cuenta que publish date tenía valores Nan. Al representar tan solo el 1,23% los he eliminado para poder separar las fecha

In [19]:
import datetime

df_books_fechas['publish_date'] = pd.to_datetime(df_books['publish_date'])
df.dtypes

OutOfBoundsDatetime: Out of bounds nanosecond timestamp: 1516-01-01 00:00:00 present at position 76

Me voy a crear un Data Frame con las columnas que quiero analizar ahora. Me voy a quedar con genre_1 y dejar de momento genre_2 a un lado.
Me quedo con todas excepto author_id, author_page_url_book_fullurl, book_id, pages
1. Quiero ver cual es el género con mejor score y si ha ido cambiando con los años.
2. Quiero ver el género de los autores y ver cuales se llevan los mejores scores
3. País de nacimiento del autor con más número de libros analizados
4. El año en que se publicaron mas libros
5. Media de paginas por años
6. Títulos de libros por años (1 o 2 y otros muchos más)

In [25]:
df_books["genre_1"]["author_genre"].value_counts()
genero = df_csv.select_dtypes(include = "object").columns

reemplazar \n en el nombre del libro y en birthplace

\d+ te busca digitos (mas)

regex101.com
regexone.com

In [23]:
df = df_books.describe(include = "all").T
df

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
author_average_rating,22891.0,NaN,NaN,NaN,3.960368,0.240421,1.82,3.81,3.97,4.12,5.0
author_gender,22891,2,male,12201,NaN,NaN,NaN,NaN,NaN,NaN,NaN
author_genres,22891,1776,romance-,2595,NaN,NaN,NaN,NaN,NaN,NaN,NaN
author_id,22891.0,NaN,NaN,NaN,3233956.75545,3868090.63057,4.0,40835.5,1415543.0,5775601.0,18770448.0
author_name,22891,12156,Sara Gruen\n,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN
author_page_url,22891,12156,/author/show/24556.Sara_Gruen,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN
author_rating_count,22891.0,NaN,NaN,NaN,172031.915687,654690.184879,6.0,4324.5,24635.0,111337.0,21117318.0
author_review_count,22891.0,NaN,NaN,NaN,9369.79564,24949.832609,0.0,545.0,2273.0,8262.5,516745.0
birthplace,22891,435,\n,4008,NaN,NaN,NaN,NaN,NaN,NaN,NaN
book_average_rating,22891.0,NaN,NaN,NaN,3.951456,0.291317,0.0,3.77,3.96,4.14,5.0
book_fullurl,22891,16830,https://www.goodreads.com/book/show/17245.Dracula,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN
book_id,22891,16830,17245,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN
book_title,22891,16350,\n Forbidden\n,16,NaN,NaN,NaN,NaN,NaN,NaN,NaN
genre_1,22891,124,Romance,3397,NaN,NaN,NaN,NaN,NaN,NaN,NaN
genre_2,22891,157,Romance,3042,NaN,NaN,NaN,NaN,NaN,NaN,NaN
num_ratings,22891.0,NaN,NaN,NaN,46683.48779,180069.814253,0.0,820.0,4403.0,20143.0,3820921.0
num_reviews,22891.0,NaN,NaN,NaN,2324.754794,6837.503574,0.0,106.0,384.0,1504.0,147696.0
pages,22891,964,320,506,NaN,NaN,NaN,NaN,NaN,NaN,NaN
publish_date,22610,3347,2013,1592,NaN,NaN,NaN,NaN,NaN,NaN,NaN
score,22891.0,NaN,NaN,NaN,3893.028483,11022.018268,55.0,832.0,1727.0,3597.5,598270.0